[Unit]
Description=CPU/DMC/GPU performance governors
DefaultDependencies=yes
After=local-fs.target
Before=mainserver.service hmi.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/board/set-performance-mode.sh

[Install]
WantedBy=multi-user.target
