[Unit]
Description=Apply Micro-USB USB Debug preference
DefaultDependencies=no
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hmi/usb-otg-mode.sh apply
RemainAfterExit=no
