[Unit]
Description=lws-hmi apply Micro-USB USB Debug preference
DefaultDependencies=no
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/lib/lws-hmi/usb-otg-mode.sh apply
RemainAfterExit=no
