# lws-hmi trimmed fonts — OFL / free licenses only.
# Replaces font/chinese.config (drops Font Awesome, Liberation, DejaVu serif/condensed).

BR2_PACKAGE_FONTCONFIG=y

BR2_PACKAGE_DEJAVU=y
BR2_PACKAGE_DEJAVU_SANS=y
BR2_PACKAGE_DEJAVU_MONO=y
# BR2_PACKAGE_DEJAVU_SERIF is not set
# BR2_PACKAGE_DEJAVU_SANS_CONDENSED is not set
# BR2_PACKAGE_DEJAVU_SERIF_CONDENSED is not set

# Subset install (Regular + Medium + Bold): see package/source-han-sans-cn overlay .mk
BR2_PACKAGE_SOURCE_HAN_SANS_CN=y
